* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "hvd";
}

$firstBreak: "1008px";

@font-face {
  font-family: "hvd";
  src: url("../hvd.woff") format("woff"), url("hvdtwo.ttf") format("truetype");
}

body,
html {
  height: 100%;
  width: 100%;

  @media only screen and (max-width: $firstBreak) {
    overflow-y: auto;
  }
}

a{
  text-decoration: none;
  color: initial;
}

header {
  color: white;
  background: black;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;

  .menu-button {
    width: 60px;

    &:hover{
      cursor: pointer;
    }
  }
}

.header-pusher {
  height: 90px;
}
marquee {
  min-height: 60px;
  width: 100%;
  position: relative;
  background-color: black;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  z-index: 1;

  h1 {
    transform: translateX(-10px);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
  }
}


.menu-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.7);
  z-index: 500;
  display: none;
  transition: 0.2s ease-in-out;
  opacity:0;
}
.menu {
  height: 100%;
  width: 400px;
  right: 0;
  background: rgb(255, 255, 255);
  z-index: 600;
  position: fixed;
  transition: 0.2s ease-in-out;
  display:flex;
  flex-direction:column;
  padding: 50px;

  a{
    font-size: 30px;
    margin-bottom: 15px;
  }

  .close{
    margin-bottom: 30px;
  }
}


.fadeIn{
  opacity: 1;
}


